:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: rgb(87, 170, 166)
}      
body {
    margin : 0;
    font-family: 'Source Sans Pro';
}
a {
    text-decoration: none;
    color: var(--text-color);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7e868f;
    padding: 8px 12px;
    position: fixed;
    z-index: 0;
    width: 100%;
}

.navbar__logo {
    font-size: 24px;
    color: #000000;
}

.navbar__menu li {
    padding: 10px 20px;
}

.navbar__icons {
    list-style: none;
    display :flex;
    color:white;
    padding-left: 0px;
}

.navbar__icons li {
    /* padding: 8px 12px; */
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.navbar__menu li {
    padding: 8px 13px;
}

.navbar__menu li:hover {
    background-color : rgb(87, 170, 166);
    border-radius: 5px;
}

.navbar__icons li {
    padding : 10px;
}

.navbar__toggleBtn {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding : 10px 24px;
    }
    
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__icons{
        display: none;
        width: 100%;
        justify-content: center;
    }

    .navbar__toggleBtn {
        display: block;
        position: absolute;
        right : 20px;
        font-size: 24px;
        color :rgb(87, 170, 166);
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
        transition: 1s ease-out;
    }
}

pre code.hljs{
    display:block;
    overflow-x:auto;
    padding:1em
  }
  
  code.hljs{
    padding:3px 5px
  }
  
  /*!
    Theme: GitHub Dark
    Description: Dark theme as seen on github.com
    Author: github.com
    Maintainer: @Hirse
    Updated: 2021-05-15
  
    Outdated base version: https://github.com/primer/github-syntax-dark
    Current colors taken from GitHub's CSS
  */
  
  .hljs{
    color:#c9d1d9;
    background:#0d1117
  }
  
  .hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-template-tag,.hljs-template-variable,.hljs-type,.hljs-variable.language_{
    color:#ff7b72
  }
  
  .hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_{
    color:#d2a8ff
  }
  
  .hljs-attr,.hljs-attribute,.hljs-literal,.hljs-meta,.hljs-number,.hljs-operator,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-variable{
    color:#79c0ff
  }
  
  .hljs-meta .hljs-string,.hljs-regexp,.hljs-string{
    color:#a5d6ff
  }
  
  .hljs-built_in,.hljs-symbol{
    color:#ffa657
  }
  
  .hljs-code,.hljs-comment,.hljs-formula{
    color:#8b949e
  }
  
  .hljs-name,.hljs-quote,.hljs-selector-pseudo,.hljs-selector-tag{
    color:#7ee787
  }
  
  .hljs-subst{
    color:#c9d1d9
  }
  
  .hljs-section{
    color:#1f6feb;
    font-weight:700
  }
  
  .hljs-bullet{
    color:#f2cc60
  }
  
  .hljs-emphasis{
    color:#c9d1d9;
    font-style:italic
  }
  
  .hljs-strong{
    color:#c9d1d9;
    font-weight:700
  }
  
  .hljs-addition{
    color:#aff5b4;
    background-color:#033a16
  }
  
  .hljs-deletion{
    color:#ffdcd7;
    background-color:#67060c
  }
  
  /*! tailwindcss v2.1.1 | MIT License | https://tailwindcss.com
  */
  
  /*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
  
  /*
  Document
  ========
  */
  
  /**
  Use a better box model (opinionated).
  */
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /**
  Use a more readable tab size (opinionated).
  */
  
  :root {
    -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  }
  
  /**
  1. Correct the line height in all browsers.
  2. Prevent adjustments of font size after orientation changes in iOS.
  */
  
  html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /*
  Sections
  ========
  */
  
  /**
  Remove the margin in all browsers.
  */
  
  body {
    margin: 0;
  }
  
  /**
  Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
  */
  
  body {
    font-family:
          system-ui,
          -apple-system, /* Firefox supports this but not yet `system-ui` */
          'Segoe UI',
          Roboto,
          Helvetica,
          Arial,
          sans-serif,
          'Apple Color Emoji',
          'Segoe UI Emoji';
  }
  
  /*
  Grouping content
  ================
  */
  
  /**
  1. Add the correct height in Firefox.
  2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
  */
  
  hr {
    height: 0; /* 1 */
    color: inherit; /* 2 */
  }
  
  /*
  Text-level semantics
  ====================
  */
  
  /**
  Add the correct text decoration in Chrome, Edge, and Safari.
  */
  
  abbr[title] {
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
  }
  
  /**
  Add the correct font weight in Edge and Safari.
  */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
  1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
  2. Correct the odd 'em' font sizing in all browsers.
  */
  
  code,
  kbd,
  samp,
  pre {
    font-family:
          ui-monospace,
          SFMono-Regular,
          Consolas,
          'Liberation Mono',
          Menlo,
          monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
  Add the correct font size in all browsers.
  */
  
  small {
    font-size: 80%;
  }
  
  /**
  Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
  */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /*
  Tabular data
  ============
  */
  
  /**
  1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
  2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
  */
  
  table {
    text-indent: 0; /* 1 */
    border-color: inherit; /* 2 */
  }
  
  /*
  Forms
  =====
  */
  
  /**
  1. Change the font styles in all browsers.
  2. Remove the margin in Firefox and Safari.
  */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
  Remove the inheritance of text transform in Edge and Firefox.
  1. Remove the inheritance of text transform in Firefox.
  */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
  Correct the inability to style clickable types in iOS and Safari.
  */
  
  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    -webkit-appearance: button;
  }
  
  /**
  Remove the inner border and padding in Firefox.
  */
  
  /**
  Restore the focus styles unset by the previous rule.
  */
  
  /**
  Remove the additional ':invalid' styles in Firefox.
  See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
  */
  
  /**
  Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
  */
  
  legend {
    padding: 0;
  }
  
  /**
  Add the correct vertical alignment in Chrome and Firefox.
  */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
  Correct the cursor style of increment and decrement buttons in Safari.
  */
  
  /**
  1. Correct the odd appearance in Chrome and Safari.
  2. Correct the outline style in Safari.
  */
  
  /**
  Remove the inner padding in Chrome and Safari on macOS.
  */
  
  /**
  1. Correct the inability to style clickable types in iOS and Safari.
  2. Change font properties to 'inherit' in Safari.
  */
  
  /*
  Interactive
  ===========
  */
  
  /*
  Add the correct display in Chrome and Safari.
  */
  
  summary {
    display: list-item;
  }
  
  /**
   * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
   * A thin layer on top of normalize.css that provides a starting point more
   * suitable for web applications.
   */
  
  /**
   * Removes the default spacing and border for appropriate elements.
   */
  
  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre {
    margin: 0;
  }
  
  button {
    background-color: transparent;
    background-image: none;
  }
  
  /**
   * Work around a Firefox/IE bug where the transparent `button` background
   * results in a loss of the default `button` focus styles.
   */
  
  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }
  
  fieldset {
    margin: 0;
    padding: 0;
  }
  
  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /**
   * Tailwind custom reset styles
   */
  
  /**
   * 1. Use the user's configured `sans` font-family (with Tailwind's default
   *    sans-serif font stack as a fallback) as a sane default.
   * 2. Use Tailwind's default "normal" line-height so the user isn't forced
   *    to override it to ensure consistency even when using the default theme.
   */
  
  html {
    font-family: basier_square, Helvetica, sans-serif; /* 1 */
    line-height: 1.5; /* 2 */
  }
  
  /**
   * Inherit font-family and line-height from `html` so users can set them as
   * a class directly on the `html` element.
   */
  
  body {
    font-family: inherit;
    line-height: inherit;
  }
  
  /**
   * 1. Prevent padding and border from affecting element width.
   *
   *    We used to set this in the html element and inherit from
   *    the parent element for everything else. This caused issues
   *    in shadow-dom-enhanced elements like <details> where the content
   *    is wrapped by a div with box-sizing set to `content-box`.
   *
   *    https://github.com/mozdevs/cssremedy/issues/4
   *
   *
   * 2. Allow adding a border to an element by just adding a border-width.
   *
   *    By default, the way the browser specifies that an element should have no
   *    border is by setting it's border-style to `none` in the user-agent
   *    stylesheet.
   *
   *    In order to easily add borders to elements by just setting the `border-width`
   *    property, we change the default border-style for all elements to `solid`, and
   *    use border-width to hide them instead. This way our `border` utilities only
   *    need to set the `border-width` property instead of the entire `border`
   *    shorthand, making our border utilities much more straightforward to compose.
   *
   *    https://github.com/tailwindcss/tailwindcss/pull/116
   */
  
  *,
  ::before,
  ::after {
    box-sizing: border-box; /* 1 */
    border-width: 0; /* 2 */
    border-style: solid; /* 2 */
    border-color: currentColor; /* 2 */
  }
  
  /*
   * Ensure horizontal rules are visible by default
   */
  
  hr {
    border-top-width: 1px;
  }
  
  /**
   * Undo the `border-style: none` reset that Normalize applies to images so that
   * our `border-{width}` utilities have the expected effect.
   *
   * The Normalize reset is unnecessary for us since we default the border-width
   * to 0 on all elements.
   *
   * https://github.com/tailwindcss/tailwindcss/issues/362
   */
  
  img {
    border-style: solid;
  }
  
  textarea {
    resize: vertical;
  }
  
  input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
    color: #a1a1aa;
  }
  
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    opacity: 1;
    color: #a1a1aa;
  }
  
  input::placeholder,
  textarea::placeholder {
    opacity: 1;
    color: #a1a1aa;
  }
  
  button {
    cursor: pointer;
  }
  
  table {
    border-collapse: collapse;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  /**
   * Reset links to optimize for opt-in styling instead of
   * opt-out.
   */
  
  a {
    color: inherit;
    text-decoration: inherit;
  }
  
  /**
   * Reset form element properties that are easy to forget to
   * style explicitly so you don't inadvertently introduce
   * styles that deviate from your design system. These styles
   * supplement a partial reset that is already applied by
   * normalize.css.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
  }
  
  /**
   * Use the configured 'mono' font family for elements that
   * are expected to be rendered with a monospace font, falling
   * back to the system monospace stack if there is no configured
   * 'mono' font family.
   */
  
  pre,
  code,
  kbd,
  samp {
    font-family: basier_square_mono, monospace;
  }
  
  /**
   * Make replaced elements `display: block` by default as that's
   * the behavior you want almost all of the time. Inspired by
   * CSS Remedy, with `svg` added as well.
   *
   * https://github.com/mozdevs/cssremedy/issues/14
   */
  
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
    vertical-align: middle;
  }
  
  /**
   * Constrain images and videos to the parent width and preserve
   * their intrinsic aspect ratio.
   *
   * https://github.com/mozdevs/cssremedy/issues/14
   */
  
  img,
  video {
    max-width: 100%;
    height: auto;
  }
  
  h1 {
    font-size:32px;
    line-height:40px;
    letter-spacing:-0.025em;
  }
  
  @media (min-width: 768px){
    h1{
      font-size:40px;
      line-height:44px
    }
  }
  
  h2 {
    font-size:32px;
    line-height:40px;
    letter-spacing:-0.025em;
  }
  
  @media (min-width: 768px){
    h2{
      font-size:40px;
      line-height:44px
    }
  }
  
  h3 {
    font-size:32px;
    line-height:40px;
  }
  
  h4 {
    font-size:24px;
    line-height:35px;
  }
  
  h5 {
    font-size:16px;
    line-height:24px;
  }
  
  h6 {
    font-size:16px;
    line-height:24px;
  }
  
  h6 a,
  ah6 {
    -webkit-text-decoration-color: rgba(0, 0, 0, 0.1);
            text-decoration-color: rgba(0, 0, 0, 0.1);
  }
  
  .text-shade a,
  a.text-shade {
    -webkit-text-decoration-color: rgba(0, 0, 0, 0.1);
            text-decoration-color: rgba(0, 0, 0, 0.1);
  }
  
  h6{
    color:rgba(0, 0, 0, 0.45)
  }
  
  a {
    text-decoration: underline;
    -webkit-text-decoration-color: rgba(0, 0, 0, 0.45);
            text-decoration-color: rgba(0, 0, 0, 0.45);
    text-decoration-thickness: 0.6px;
    text-underline-offset: 0.15em;
  }
  
  a:hover {
    -webkit-text-decoration-color: black;
            text-decoration-color: black;
    text-decoration-thickness: 2px;
  }
  
  a:focus:not(.no-focus, .no-focus *) {
    background: black;
    outline: 0.333em solid black;
    color: white;
  }
  
  .text-shade a,
  a.text-shade {
    -webkit-text-decoration-color: rgba(0, 0, 0, 0.1);
            text-decoration-color: rgba(0, 0, 0, 0.1);
  }
  
  .no-outline:focus {
    outline: none;
  }
  
  .no-default {
    text-decoration: none;
  }
  
  .no-default:focus {
    outline: none;
  }
  
  code {
    --tw-bg-opacity:1;
    background-color:rgba(0, 0, 0, var(--tw-bg-opacity));
    --tw-bg-opacity:0.05;
    font-size: 0.9em;
    display: inline-block;
    padding: 0.15em 0.4em 0.1em;
    border-radius: 0.25em;
  }
  
  .fal {
    width: 1.2em;
    display: inline-block;
  }
  
  /* Proprietary fonts are in https://github.com/replicate/replicate-webfonts (private) */
  
  /* https://www.atipofoundry.com/fonts/basier */
  
  @font-face {
    font-family: "basier_square";
  
    src: url("https://fonts.replicate.ai/Basier-Square-regular-webfont/basiersquare-regular-webfont.eot");
  
    src: url("https://fonts.replicate.ai/Basier-Square-regular-webfont/basiersquare-regular-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("https://fonts.replicate.ai/Basier-Square-regular-webfont/basiersquare-regular-webfont.woff2")
        format("woff2"),
      url("https://fonts.replicate.ai/Basier-Square-regular-webfont/basiersquare-regular-webfont.woff")
        format("woff"),
      url("https://fonts.replicate.ai/Basier-Square-regular-webfont/basiersquare-regular-webfont.ttf")
        format("truetype");
  
    font-weight: 400;
  
    font-style: normal;
  }
  
  @font-face {
    font-family: "basier_square";
  
    src: url("https://fonts.replicate.ai/Basier-Square-bold-webfont/basiersquare-bold-webfont.eot");
  
    src: url("https://fonts.replicate.ai/Basier-Square-bold-webfont/basiersquare-bold-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("https://fonts.replicate.ai/Basier-Square-bold-webfont/basiersquare-bold-webfont.woff2")
        format("woff2"),
      url("https://fonts.replicate.ai/Basier-Square-bold-webfont/basiersquare-bold-webfont.woff")
        format("woff"),
      url("https://fonts.replicate.ai/Basier-Square-bold-webfont/basiersquare-bold-webfont.ttf")
        format("truetype");
  
    font-weight: 800;
  
    font-style: normal;
  }
  
  @font-face {
    font-family: "basier_square";
  
    src: url("https://fonts.replicate.ai/Basier-Square-regularitalic-webfont/basiersquare-regularitalic-webfont.eot");
  
    src: url("https://fonts.replicate.ai/Basier-Square-regularitalic-webfont/basiersquare-regularitalic-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("https://fonts.replicate.ai/Basier-Square-regularitalic-webfont/basiersquare-regularitalic-webfont.woff2")
        format("woff2"),
      url("https://fonts.replicate.ai/Basier-Square-regularitalic-webfont/basiersquare-regularitalic-webfont.woff")
        format("woff"),
      url("https://fonts.replicate.ai/Basier-Square-regularitalic-webfont/basiersquare-regularitalic-webfont.ttf")
        format("truetype");
  
    font-weight: 400;
  
    font-style: italic;
  }
  
  @font-face {
    font-family: "basier_square";
  
    src: url("https://fonts.replicate.ai/Basier-Square-bolditalic-webfont/basiersquare-bolditalic-webfont.eot");
  
    src: url("https://fonts.replicate.ai/Basier-Square-bolditalic-webfont/basiersquare-bolditalic-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("https://fonts.replicate.ai/Basier-Square-bolditalic-webfont/basiersquare-bolditalic-webfont.woff2")
        format("woff2"),
      url("https://fonts.replicate.ai/Basier-Square-bolditalic-webfont/basiersquare-bolditalic-webfont.woff")
        format("woff"),
      url("https://fonts.replicate.ai/Basier-Square-bolditalic-webfont/basiersquare-bolditalic-webfont.ttf")
        format("truetype");
  
    font-weight: 800;
  
    font-style: italic;
  }
  
  /* https://www.atipofoundry.com/fonts/basier-mono */
  
  @font-face {
    font-family: "basier_square_mono";
  
    src: url("https://fonts.replicate.ai/Basier-Mono-Square-Webfont/basiersquaremono-regular-webfont.eot");
  
    src: url("https://fonts.replicate.ai/Basier-Mono-Square-Webfont/basiersquaremono-regular-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("https://fonts.replicate.ai/Basier-Mono-Square-Webfont/basiersquaremono-regular-webfont.woff2")
        format("woff2"),
      url("https://fonts.replicate.ai/Basier-Mono-Square-Webfont/basiersquaremono-regular-webfont.woff")
        format("woff"),
      url("https://fonts.replicate.ai/Basier-Mono-Square-Webfont/basiersquaremono-regular-webfont.ttf")
        format("truetype");
  
    font-weight: 400;
  
    font-style: normal;
  }
  
  @font-face {
    font-family: "basier_square_mono";
  
    src: url("https://fonts.replicate.ai/Basier-Mono-Square-Webfont/basiersquaremono-bold-webfont.eot");
  
    src: url("https://fonts.replicate.ai/Basier-Mono-Square-Webfont/basiersquaremono-bold-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("https://fonts.replicate.ai/Basier-Mono-Square-Webfont/basiersquaremono-bold-webfont.woff2")
        format("woff2"),
      url("https://fonts.replicate.ai/Basier-Mono-Square-Webfont/basiersquaremono-bold-webfont.woff")
        format("woff"),
      url("https://fonts.replicate.ai/Basier-Mono-Square-Webfont/basiersquaremono-bold-webfont.ttf")
        format("truetype");
  
    font-weight: 800;
  
    font-style: normal;
  }
  
  .bg-brand{
    --tw-bg-opacity:1;
    background-color:rgba(255, 247, 145, var(--tw-bg-opacity))
  }
  
  .bg-black{
    --tw-bg-opacity:1;
    background-color:rgba(0, 0, 0, var(--tw-bg-opacity))
  }
  
  .bg-white{
    --tw-bg-opacity:1;
    background-color:rgba(255, 255, 255, var(--tw-bg-opacity))
  }
  
  .bg-bgshade{
    background-color:rgba(0, 0, 0, 0.05)
  }
  
  .bg-opacity-5{
    --tw-bg-opacity:0.05
  }
  
  .bg-opacity-10{
    --tw-bg-opacity:0.1
  }
  
  .border-black{
    --tw-border-opacity:1;
    border-color:rgba(0, 0, 0, var(--tw-border-opacity))
  }
  
  .border-shade{
    border-color:rgba(0, 0, 0, 0.45)
  }
  
  .border-opacity-10{
    --tw-border-opacity:0.1
  }
  
  .border-opacity-40{
    --tw-border-opacity:0.4
  }
  
  .rounded{
    border-radius:0.25rem
  }
  
  .rounded-md{
    border-radius:0.375rem
  }
  
  .rounded-full{
    border-radius:9999px
  }
  
  .border-dashed{
    border-style:dashed
  }
  
  .border-2{
    border-width:2px
  }
  
  .border{
    border-width:1px
  }
  
  .border-t{
    border-top-width:1px
  }
  
  .border-r{
    border-right-width:1px
  }
  
  .border-b{
    border-bottom-width:1px
  }
  
  .border-l{
    border-left-width:1px
  }
  
  .cursor-pointer{
    cursor:pointer
  }
  
  .block{
    display:block
  }
  
  .inline-block{
    display:inline-block
  }
  
  .inline{
    display:inline
  }
  
  .flex{
    display:flex
  }
  
  .table{
    display:table
  }
  
  .grid{
    display:grid
  }
  
  .hidden{
    display:none
  }
  
  .flex-col{
    flex-direction:column
  }
  
  .flex-wrap{
    flex-wrap:wrap
  }
  
  .flex-nowrap{
    flex-wrap:nowrap
  }
  
  .content-center{
    align-content:center
  }
  
  .justify-center{
    justify-content:center
  }
  
  .flex-1{
    flex:1 1 0%
  }
  
  .flex-auto{
    flex:1 1 auto
  }
  
  .flex-initial{
    flex:0 1 auto
  }
  
  .flex-none{
    flex:none
  }
  
  .flex-grow{
    flex-grow:1
  }
  
  .flex-shrink{
    flex-shrink:1
  }
  
  .float-right{
    float:right
  }
  
  .font-sans{
    font-family:basier_square, Helvetica, sans-serif
  }
  
  .font-mono{
    font-family:basier_square_mono, monospace
  }
  
  .font-bold{
    font-weight:700
  }
  
  .h-5{
    height:1.25rem
  }
  
  .h-20{
    height:5rem
  }
  
  .h-28{
    height:7rem
  }
  
  .h-32{
    height:8rem
  }
  
  .h-40{
    height:10rem
  }
  
  .h-80{
    height:20rem
  }
  
  .h-full{
    height:100%
  }
  
  .h-screen{
    height:100vh
  }
  
  .text-xs{
    font-size:12px;
    line-height:18px
  }
  
  .text-sm{
    font-size:14px;
    line-height:20px
  }
  
  .text-base{
    font-size:16px;
    line-height:24px
  }
  
  .text-md{
    font-size:24px;
    line-height:35px
  }
  
  .text-xl{
    font-size:40px;
    line-height:44px
  }
  
  .leading-20{
    line-height:5rem
  }
  
  .list-inside{
    list-style-position:inside
  }
  
  .list-disc{
    list-style-type:disc
  }
  
  .m-10{
    margin:2.5rem
  }
  
  .m-lh{
    margin:24px
  }
  
  .my-7{
    margin-top:1.75rem;
    margin-bottom:1.75rem
  }
  
  .my-20{
    margin-top:5rem;
    margin-bottom:5rem
  }
  
  .mx-20{
    margin-left:5rem;
    margin-right:5rem
  }
  
  .mx-auto{
    margin-left:auto;
    margin-right:auto
  }
  
  .my-lh{
    margin-top:24px;
    margin-bottom:24px
  }
  
  .my-2lh{
    margin-top:48px;
    margin-bottom:48px
  }
  
  .mt-0{
    margin-top:0px
  }
  
  .mt-1{
    margin-top:0.25rem
  }
  
  .mr-1{
    margin-right:0.25rem
  }
  
  .mb-1{
    margin-bottom:0.25rem
  }
  
  .mt-2{
    margin-top:0.5rem
  }
  
  .mr-2{
    margin-right:0.5rem
  }
  
  .mb-2{
    margin-bottom:0.5rem
  }
  
  .ml-2{
    margin-left:0.5rem
  }
  
  .mt-3{
    margin-top:0.75rem
  }
  
  .mr-3{
    margin-right:0.75rem
  }
  
  .mb-3{
    margin-bottom:0.75rem
  }
  
  .ml-4{
    margin-left:1rem
  }
  
  .mt-5{
    margin-top:1.25rem
  }
  
  .mb-5{
    margin-bottom:1.25rem
  }
  
  .ml-5{
    margin-left:1.25rem
  }
  
  .mt-6{
    margin-top:1.5rem
  }
  
  .mt-10{
    margin-top:2.5rem
  }
  
  .mt-20{
    margin-top:5rem
  }
  
  .mt-28{
    margin-top:7rem
  }
  
  .mt-32{
    margin-top:8rem
  }
  
  .mr-05lh{
    margin-right:12px
  }
  
  .mb-05lh{
    margin-bottom:12px
  }
  
  .ml-05lh{
    margin-left:12px
  }
  
  .mt-lh{
    margin-top:24px
  }
  
  .mr-lh{
    margin-right:24px
  }
  
  .mb-lh{
    margin-bottom:24px
  }
  
  .ml-lh{
    margin-left:24px
  }
  
  .mt-2lh{
    margin-top:48px
  }
  
  .mr-2lh{
    margin-right:48px
  }
  
  .mb-2lh{
    margin-bottom:48px
  }
  
  .max-w-md{
    max-width:28rem
  }
  
  .min-h-screen{
    min-height:100vh
  }
  
  .min-w-0{
    min-width:0px
  }
  
  .object-cover{
    -o-object-fit:cover;
       object-fit:cover
  }
  
  .object-center{
    -o-object-position:center;
       object-position:center
  }
  
  .opacity-25{
    opacity:0.25
  }
  
  .opacity-75{
    opacity:0.75
  }
  
  .focus\:outline-none:focus{
    outline:2px solid transparent;
    outline-offset:2px
  }
  
  .overflow-auto{
    overflow:auto
  }
  
  .overflow-hidden{
    overflow:hidden
  }
  
  .overflow-y-scroll{
    overflow-y:scroll
  }
  
  .p-3{
    padding:0.75rem
  }
  
  .p-4{
    padding:1rem
  }
  
  .p-05lh{
    padding:12px
  }
  
  .p-lh{
    padding:24px
  }
  
  .px-1{
    padding-left:0.25rem;
    padding-right:0.25rem
  }
  
  .py-2{
    padding-top:0.5rem;
    padding-bottom:0.5rem
  }
  
  .px-3{
    padding-left:0.75rem;
    padding-right:0.75rem
  }
  
  .py-5{
    padding-top:1.25rem;
    padding-bottom:1.25rem
  }
  
  .px-5{
    padding-left:1.25rem;
    padding-right:1.25rem
  }
  
  .px-7{
    padding-left:1.75rem;
    padding-right:1.75rem
  }
  
  .px-8{
    padding-left:2rem;
    padding-right:2rem
  }
  
  .py-10{
    padding-top:2.5rem;
    padding-bottom:2.5rem
  }
  
  .py-40{
    padding-top:10rem;
    padding-bottom:10rem
  }
  
  .py-05lh{
    padding-top:12px;
    padding-bottom:12px
  }
  
  .py-lh{
    padding-top:24px;
    padding-bottom:24px
  }
  
  .px-lh{
    padding-left:24px;
    padding-right:24px
  }
  
  .py-2lh{
    padding-top:48px;
    padding-bottom:48px
  }
  
  .px-2lh{
    padding-left:48px;
    padding-right:48px
  }
  
  .pb-1{
    padding-bottom:0.25rem
  }
  
  .pb-2{
    padding-bottom:0.5rem
  }
  
  .pl-2{
    padding-left:0.5rem
  }
  
  .pl-6{
    padding-left:1.5rem
  }
  
  .pr-7{
    padding-right:1.75rem
  }
  
  .pl-8{
    padding-left:2rem
  }
  
  .pt-20{
    padding-top:5rem
  }
  
  .pb-40{
    padding-bottom:10rem
  }
  
  .pt-lh{
    padding-top:24px
  }
  
  .pr-lh{
    padding-right:24px
  }
  
  .pb-lh{
    padding-bottom:24px
  }
  
  .pb-2lh{
    padding-bottom:48px
  }
  
  .static{
    position:static
  }
  
  .absolute{
    position:absolute
  }
  
  .relative{
    position:relative
  }
  
  .top-0{
    top:0px
  }
  
  .left-0{
    left:0px
  }
  
  .top-1{
    top:0.25rem
  }
  
  .-top-0{
    top:0px
  }
  
  .-top-1{
    top:-0.25rem
  }
  
  .-top-0\.5{
    top:-0.125rem
  }
  
  .left-1\/2{
    left:50%
  }
  
  *{
    --tw-shadow:0 0 #0000
  }
  
  *{
    --tw-ring-inset:var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width:0px;
    --tw-ring-offset-color:#fff;
    --tw-ring-color:rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow:0 0 #0000;
    --tw-ring-shadow:0 0 #0000
  }
  
  .fill-current{
    fill:currentColor
  }
  
  .text-left{
    text-align:left
  }
  
  .text-center{
    text-align:center
  }
  
  .text-right{
    text-align:right
  }
  
  .text-transparent{
    color:transparent
  }
  
  .text-black{
    --tw-text-opacity:1;
    color:rgba(0, 0, 0, var(--tw-text-opacity))
  }
  
  .text-white{
    --tw-text-opacity:1;
    color:rgba(255, 255, 255, var(--tw-text-opacity))
  }
  
  .text-red-500{
    --tw-text-opacity:1;
    color:rgba(239, 68, 68, var(--tw-text-opacity))
  }
  
  .text-red-700{
    --tw-text-opacity:1;
    color:rgba(185, 28, 28, var(--tw-text-opacity))
  }
  
  .text-shade{
    color:rgba(0, 0, 0, 0.45)
  }
  
  .overflow-ellipsis{
    text-overflow:ellipsis
  }
  
  .no-underline{
    text-decoration:none
  }
  
  .antialiased{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
  }
  
  .visible{
    visibility:visible
  }
  
  .whitespace-nowrap{
    white-space:nowrap
  }
  
  .whitespace-pre-wrap{
    white-space:pre-wrap
  }
  
  .w-5{
    width:1.25rem
  }
  
  .w-8{
    width:2rem
  }
  
  .w-20{
    width:5rem
  }
  
  .w-36{
    width:9rem
  }
  
  .w-40{
    width:10rem
  }
  
  .w-80{
    width:20rem
  }
  
  .w-full{
    width:100%
  }
  
  .gap-2lh{
    gap:48px
  }
  
  .grid-flow-row{
    grid-auto-flow:row
  }
  
  .grid-cols-1{
    grid-template-columns:repeat(1, minmax(0, 1fr))
  }
  
  .auto-rows-max{
    grid-auto-rows:-webkit-max-content;
    grid-auto-rows:max-content
  }
  
  @-webkit-keyframes spin{
    to{
      transform:rotate(360deg)
    }
  }
  
  @keyframes spin{
    to{
      transform:rotate(360deg)
    }
  }
  
  @-webkit-keyframes ping{
    75%, 100%{
      transform:scale(2);
      opacity:0
    }
  }
  
  @keyframes ping{
    75%, 100%{
      transform:scale(2);
      opacity:0
    }
  }
  
  @-webkit-keyframes pulse{
    50%{
      opacity:.5
    }
  }
  
  @keyframes pulse{
    50%{
      opacity:.5
    }
  }
  
  @-webkit-keyframes bounce{
    0%, 100%{
      transform:translateY(-25%);
      -webkit-animation-timing-function:cubic-bezier(0.8,0,1,1);
              animation-timing-function:cubic-bezier(0.8,0,1,1)
    }
  
    50%{
      transform:none;
      -webkit-animation-timing-function:cubic-bezier(0,0,0.2,1);
              animation-timing-function:cubic-bezier(0,0,0.2,1)
    }
  }
  
  @keyframes bounce{
    0%, 100%{
      transform:translateY(-25%);
      -webkit-animation-timing-function:cubic-bezier(0.8,0,1,1);
              animation-timing-function:cubic-bezier(0.8,0,1,1)
    }
  
    50%{
      transform:none;
      -webkit-animation-timing-function:cubic-bezier(0,0,0.2,1);
              animation-timing-function:cubic-bezier(0,0,0.2,1)
    }
  }
  
  .animate-spin{
    -webkit-animation:spin 1s linear infinite;
            animation:spin 1s linear infinite
  }
  
  .filter{
    --tw-blur:var(--tw-empty,/*!*/ /*!*/);
    --tw-brightness:var(--tw-empty,/*!*/ /*!*/);
    --tw-contrast:var(--tw-empty,/*!*/ /*!*/);
    --tw-grayscale:var(--tw-empty,/*!*/ /*!*/);
    --tw-hue-rotate:var(--tw-empty,/*!*/ /*!*/);
    --tw-invert:var(--tw-empty,/*!*/ /*!*/);
    --tw-saturate:var(--tw-empty,/*!*/ /*!*/);
    --tw-sepia:var(--tw-empty,/*!*/ /*!*/);
    --tw-drop-shadow:var(--tw-empty,/*!*/ /*!*/);
    filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
  }
  
  .border-hairline {
    --tw-border-opacity:1;
    border-color:rgba(0, 0, 0, var(--tw-border-opacity));
    --tw-border-opacity:0.1;
  }
  
  .small-caps {
    font-variant: small-caps;
    text-transform: lowercase;
    font-size: 1.1em;
  }
  
  .full-container {
    padding-left:24px;
    padding-right:24px;
  }
  
  @media (min-width: 768px){
    .full-container{
      padding-left:48px;
      padding-right:48px
    }
  }
  
  .content-container {
    max-width:48rem;
  }
  
  .container{
    width:100%
  }
  
  @media (min-width: 640px){
    .container{
      max-width:640px
    }
  }
  
  @media (min-width: 768px){
    .container{
      max-width:768px
    }
  }
  
  @media (min-width: 1024px){
    .container{
      max-width:1024px
    }
  }
  
  @media (min-width: 1280px){
    .container{
      max-width:1280px
    }
  }
  
  @media (min-width: 1536px){
    .container{
      max-width:1536px
    }
  }
  
  .bubble {
    --tw-border-opacity:1;
    border-radius:9999px;
    border-width:1px;
    display:inline-block;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    padding-left:1rem;
    padding-right:1rem;
    text-decoration:none;
    --tw-border-opacity:1;
    border-color:rgba(0, 0, 0, var(--tw-border-opacity));
    --tw-border-opacity:0.1;
  }
  
  a.bubble:hover, button.bubble:hover{
    background-color:rgba(0, 0, 0, 0.45)
  }
  
  a.bubble:focus, button.bubble:focus{
    --tw-bg-opacity:1;
    background-color:rgba(0, 0, 0, var(--tw-bg-opacity))
  }
  
  a.bubble, button.bubble{
    --tw-border-opacity:1;
    border-color:rgba(0, 0, 0, var(--tw-border-opacity))
  }
  
  a.bubble:hover, button.bubble:hover{
    --tw-border-opacity:0
  }
  
  a.bubble:focus, button.bubble:focus{
    outline:2px solid transparent;
    outline-offset:2px
  }
  
  a.bubble:hover, button.bubble:hover{
    --tw-text-opacity:1;
    color:rgba(255, 255, 255, var(--tw-text-opacity))
  }
  
  .code {
    --tw-bg-opacity:1;
    background-color:rgba(0, 0, 0, var(--tw-bg-opacity));
    margin-bottom:24px;
    overflow-x:auto;
    --tw-text-opacity:1;
    color:rgba(255, 255, 255, var(--tw-text-opacity));
  }
  
  @media (min-width: 768px){
    .code{
      padding:24px
    }
  }
  
  .highlight {
    background: black !important;
  }
  
  /* https://stackoverflow.com/questions/7110353/html5-dragleave-fired-when-hovering-a-child-element */
  
  .dropzone * {
    pointer-events: none;
  }
  
  .form label,
  .form-label {
    display: block;
  }
  
  .form label.flex,
  .form-label.flex {
    display: flex;
  }
  
  .form input[type="text"], .form input[type="url"], .form input[type="email"], .form textarea, .form-input, .form-textarea{
    border-color:rgba(0, 0, 0, 0.45)
  }
  
  .form input[type="text"]:focus, .form input[type="url"]:focus, .form input[type="email"]:focus, .form textarea:focus, .form-input:focus, .form-textarea:focus{
    --tw-border-opacity:1;
    border-color:rgba(0, 0, 0, var(--tw-border-opacity))
  }
  
  .form input[type="text"], .form input[type="url"], .form input[type="email"], .form textarea, .form-input, .form-textarea{
    border-radius:0.375rem;
    border-width:1px;
    display:block;
    margin-right:12px
  }
  
  .form input[type="text"]:focus, .form input[type="url"]:focus, .form input[type="email"]:focus, .form textarea:focus, .form-input:focus, .form-textarea:focus{
    outline:2px solid transparent;
    outline-offset:2px
  }
  
  .form input[type="text"], .form input[type="url"], .form input[type="email"], .form textarea, .form-input, .form-textarea{
    padding:12px;
    width:100%
  }
  
  .form .errorlist {
    margin-bottom:12px;
    --tw-text-opacity:1;
    color:rgba(239, 68, 68, var(--tw-text-opacity));
  }
  
  .form-help a,
  a.form-help {
    -webkit-text-decoration-color: rgba(0, 0, 0, 0.1);
            text-decoration-color: rgba(0, 0, 0, 0.1);
  }
  
  .text-shade a,
  a.text-shade {
    -webkit-text-decoration-color: rgba(0, 0, 0, 0.1);
            text-decoration-color: rgba(0, 0, 0, 0.1);
  }
  
  .form-help{
    font-size:14px;
    line-height:20px;
    color:rgba(0, 0, 0, 0.45)
  }
  
  .form select, .form-select{
    border-color:rgba(0, 0, 0, 0.45)
  }
  
  .form select:focus, .form-select:focus{
    --tw-border-opacity:1;
    border-color:rgba(0, 0, 0, var(--tw-border-opacity))
  }
  
  .form select, .form-select{
    border-radius:0.375rem;
    border-width:1px;
    margin-right:12px
  }
  
  .form select:focus, .form-select:focus{
    outline:2px solid transparent;
    outline-offset:2px
  }
  
  .form select, .form-select{
    padding:12px
  }
  
  .form input:disabled, .form-input:disabled, .form select:disabled, .form-select:disabled, .form textarea:disabled, .form-textarea:disabled{
    --tw-bg-opacity:1;
    background-color:rgba(0, 0, 0, var(--tw-bg-opacity))
  }
  
  .form input:disabled, .form-input:disabled, .form select:disabled, .form-select:disabled, .form textarea:disabled, .form-textarea:disabled{
    --tw-bg-opacity:0.05
  }
  
  .form button, .form-button{
    --tw-bg-opacity:1;
    background-color:rgba(0, 0, 0, var(--tw-bg-opacity));
    --tw-border-opacity:1;
    border-color:rgba(0, 0, 0, var(--tw-border-opacity));
    border-radius:0.375rem;
    border-width:1px;
    display:inline-block;
    font-size:16px;
    line-height:24px
  }
  
  .form button:focus, .form-button:focus{
    outline:2px solid transparent;
    outline-offset:2px
  }
  
  .form button, .form-button{
    padding:12px;
    --tw-text-opacity:1;
    color:rgba(255, 255, 255, var(--tw-text-opacity));
    text-decoration:none
  }
  
  .form button:active, .form-button:active{
    --tw-bg-opacity:1;
    background-color:rgba(255, 255, 255, var(--tw-bg-opacity));
    outline:2px solid transparent;
    outline-offset:2px;
    --tw-text-opacity:1;
    color:rgba(0, 0, 0, var(--tw-text-opacity))
  }
  
  .form button:disabled, .form-button:disabled{
    background-color:rgba(0, 0, 0, 0.45);
    border-color:rgba(0, 0, 0, 0.45);
    outline:2px solid transparent;
    outline-offset:2px;
    --tw-text-opacity:1;
    color:rgba(255, 255, 255, var(--tw-text-opacity))
  }
  
  .form button.secondary, .form-button-secondary{
    --tw-bg-opacity:1;
    background-color:rgba(255, 255, 255, var(--tw-bg-opacity));
    --tw-border-opacity:1;
    border-color:rgba(0, 0, 0, var(--tw-border-opacity));
    border-radius:0.375rem;
    border-width:1px;
    display:inline-block
  }
  
  .form button.secondary:focus, .form-button-secondary:focus{
    outline:2px solid transparent;
    outline-offset:2px
  }
  
  .form button.secondary, .form-button-secondary{
    padding:12px;
    --tw-text-opacity:1;
    color:rgba(0, 0, 0, var(--tw-text-opacity));
    text-decoration:none
  }
  
  .form button.secondary:active, .form-button-secondary:active{
    --tw-bg-opacity:1;
    background-color:rgba(0, 0, 0, var(--tw-bg-opacity));
    outline:2px solid transparent;
    outline-offset:2px;
    --tw-text-opacity:1;
    color:rgba(255, 255, 255, var(--tw-text-opacity))
  }
  
  .form-inline-text-button {
    display:flex;
    padding-top:24px;
    padding-bottom:24px;
  }
  
  .form label.form-inline-text-button,
  .form-label.form-inline-text-button {
    display: flex;
  }
  
  .form label.flex,
  .form-label.flex {
    display: flex;
  }
  
  .form-inline-text-button input {
    --tw-bg-opacity:1;
    background-color:rgba(255, 255, 255, var(--tw-bg-opacity));
    border-color:rgba(0, 0, 0, 0.45);
    border-radius:0.375rem;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border-width:1px;
    border-right-width:0px;
    padding:12px;
    width:100%;
  }
  
  .form-inline-text-button input:focus {
    outline: none;
  }
  
  .form-inline-text-button input:focus::-moz-placeholder {
    opacity: 0.5;
  }
  
  .form-inline-text-button input:focus:-ms-input-placeholder {
    opacity: 0.5;
  }
  
  .form-inline-text-button input:focus::placeholder {
    opacity: 0.5;
  }
  
  .form-inline-text-button button {
    --tw-bg-opacity:1;
    background-color:rgba(255, 255, 255, var(--tw-bg-opacity));
    border-color:rgba(0, 0, 0, 0.45);
    border-radius:0.375rem;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    border-width:1px;
    border-left-width:0px;
    flex:none;
    padding:12px;
    padding-left:1.25rem;
    padding-right:1.25rem;
  }
  
  .form-inline-text-button button:focus {
    --tw-bg-opacity:1;
    background-color:rgba(0, 0, 0, var(--tw-bg-opacity));
    --tw-border-opacity:1;
    border-color:rgba(0, 0, 0, var(--tw-border-opacity));
    outline:2px solid transparent;
    outline-offset:2px;
    --tw-text-opacity:1;
    color:rgba(255, 255, 255, var(--tw-text-opacity));
  }
  
  .radioselect li {
    margin-top:0.5rem;
    margin-bottom:0.5rem;
  }
  
  .icon {
    display: inline;
    position: relative;
    top: -0.1em;
    width: 1.1em;
    height: 1.1em;
  }
  
  .markdown h1 {
      font-size:24px;
      line-height:35px;
      margin-bottom:24px;
      --tw-text-opacity:1;
      color:rgba(0, 0, 0, var(--tw-text-opacity));
    }
  
  .markdown h2 {
      font-weight:600;
      font-size:16px;
      line-height:24px;
      margin-bottom:24px;
      --tw-text-opacity:1;
      color:rgba(0, 0, 0, var(--tw-text-opacity));
    }
  
  .markdown h3 a,
  .markdown ah3 {
      -webkit-text-decoration-color: rgba(0, 0, 0, 0.1);
              text-decoration-color: rgba(0, 0, 0, 0.1);
    }
  
  .markdown .text-shade a,
  .markdown a.text-shade {
      -webkit-text-decoration-color: rgba(0, 0, 0, 0.1);
              text-decoration-color: rgba(0, 0, 0, 0.1);
    }
  
  .markdown h3{
      font-weight:400;
      font-size:16px;
      line-height:24px;
      margin-bottom:24px;
      color:rgba(0, 0, 0, 0.45)
    }
  
  .markdown h4 a,
  .markdown ah4 {
      -webkit-text-decoration-color: rgba(0, 0, 0, 0.1);
              text-decoration-color: rgba(0, 0, 0, 0.1);
    }
  
  .markdown .text-shade a,
  .markdown a.text-shade {
      -webkit-text-decoration-color: rgba(0, 0, 0, 0.1);
              text-decoration-color: rgba(0, 0, 0, 0.1);
    }
  
  .markdown h4{
      font-weight:400;
      font-size:16px;
      line-height:24px;
      margin-bottom:24px;
      color:rgba(0, 0, 0, 0.45)
    }
  
  .markdown h5 a,
  .markdown ah5 {
      -webkit-text-decoration-color: rgba(0, 0, 0, 0.1);
              text-decoration-color: rgba(0, 0, 0, 0.1);
    }
  
  .markdown .text-shade a,
  .markdown a.text-shade {
      -webkit-text-decoration-color: rgba(0, 0, 0, 0.1);
              text-decoration-color: rgba(0, 0, 0, 0.1);
    }
  
  .markdown h5{
      font-weight:400;
      font-size:16px;
      line-height:24px;
      margin-bottom:24px;
      color:rgba(0, 0, 0, 0.45)
    }
  
  .markdown h6 a,
  .markdown ah6 {
      -webkit-text-decoration-color: rgba(0, 0, 0, 0.1);
              text-decoration-color: rgba(0, 0, 0, 0.1);
    }
  
  .markdown .text-shade a,
  .markdown a.text-shade {
      -webkit-text-decoration-color: rgba(0, 0, 0, 0.1);
              text-decoration-color: rgba(0, 0, 0, 0.1);
    }
  
  .markdown h6{
      font-weight:400;
      font-size:16px;
      line-height:24px;
      margin-bottom:24px;
      color:rgba(0, 0, 0, 0.45)
    }
  
  .markdown table {
      margin-bottom:24px;
    }
  
  .markdown p {
      margin-bottom:24px;
    }
  
  .markdown pre {
      --tw-bg-opacity:1;
      background-color:rgba(0, 0, 0, var(--tw-bg-opacity));
      margin-bottom:24px;
      overflow-x:auto;
      --tw-text-opacity:1;
      color:rgba(255, 255, 255, var(--tw-text-opacity));
    }
  
  @media (min-width: 768px){
      .markdown pre{
        padding:24px
      }
    }
  
  .markdown ul {
      list-style-position:inside;
      list-style-type:disc;
      margin-top:24px;
      margin-bottom:24px;
    }
  
  .markdown ol {
      list-style-type:decimal;
      margin-bottom:24px;
    }
  
  .markdown iframe {
      margin-bottom:24px;
    }
  
  .markdown img {
      margin-bottom:24px;
    }
  
  .nav-link a,
  a.nav-link {
    -webkit-text-decoration-color: rgba(0, 0, 0, 0.1);
            text-decoration-color: rgba(0, 0, 0, 0.1);
  }
  
  .text-shade a,
  a.text-shade {
    -webkit-text-decoration-color: rgba(0, 0, 0, 0.1);
            text-decoration-color: rgba(0, 0, 0, 0.1);
  }
  
  .nav-link:focus {
    outline: none;
  }
  
  .nav-link {
    text-decoration: none;
  }
  
  .nav-link:focus {
    outline: none;
  }
  
  .nav-link{
    margin-left:1.25rem;
    color:rgba(0, 0, 0, 0.45)
  }
  
  .nav-link:hover{
    --tw-text-opacity:1;
    color:rgba(0, 0, 0, var(--tw-text-opacity))
  }
  
  .nav-link.selected {
    --tw-text-opacity:1;
    color:rgba(0, 0, 0, var(--tw-text-opacity));
    text-decoration:underline;
  }
  
  .tabs .tab {
    text-decoration: none;
  }
  
  .tabs .tab:focus {
    outline: none;
  }
  
  .tabs .tab{
    --tw-border-opacity:1;
    border-color:rgba(0, 0, 0, var(--tw-border-opacity));
    --tw-border-opacity:0
  }
  
  .tabs .tab:hover{
    --tw-border-opacity:0.1
  }
  
  .tabs .tab:focus{
    --tw-border-opacity:1
  }
  
  .tabs .tab{
    border-bottom-width:2px;
    display:inline-block;
    padding:12px;
    /* if there is a border on the parent tabs element, put it underneath the selected tab border */
    margin-bottom: -1px
  }
  
  .tabs .tab.selected, .tabs .tab[data-selected] {
    text-decoration: none;
  }
  
  .tabs .tab.selected:focus, .tabs .tab[data-selected]:focus {
    outline: none;
  }
  
  .tabs .tab.selected, .tabs .tab[data-selected]{
    --tw-border-opacity:1;
    border-color:rgba(0, 0, 0, var(--tw-border-opacity));
    --tw-border-opacity:1
  }
  
  .tabs .tab.selected:hover, .tabs .tab[data-selected]:hover{
    --tw-border-opacity:1
  }
  
  .tabs .tab.selected, .tabs .tab[data-selected]{
    border-bottom-width:2px;
    display:inline-block;
    padding:12px
  }
  
  .bubble-tabs .tab {
    --tw-border-opacity:1;
    border-color:rgba(0, 0, 0, var(--tw-border-opacity));
    --tw-border-opacity:0;
  }
  
  .bubble-tabs .tab:hover{
    --tw-border-opacity:1
  }
  
  .bubble-tabs .tab{
    border-radius:9999px;
    border-width:1px;
    margin-right:12px
  }
  
  .bubble-tabs .tab:focus{
    outline:2px solid transparent;
    outline-offset:2px
  }
  
  .bubble-tabs .tab{
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    padding-left:1rem;
    padding-right:1rem;
    text-decoration:none;
    /* if there is a border on the parent tabs element, put it underneath the selected tab border */
    margin-bottom: -1px
  }
  
  .tabs .tab:focus {
    --tw-bg-opacity:1;
    background-color:rgba(255, 255, 255, var(--tw-bg-opacity));
    --tw-text-opacity:1;
    color:rgba(0, 0, 0, var(--tw-text-opacity));
  }
  
  .bubble-tabs .tab.selected, .bubble-tabs .tab[data-selected], .bubble-tabs .tab:active{
    --tw-bg-opacity:1;
    background-color:rgba(0, 0, 0, var(--tw-bg-opacity));
    --tw-text-opacity:1;
    color:rgba(255, 255, 255, var(--tw-text-opacity))
  }
  
  /* disable warning https://reach.tech/styling/ */
  
  :root {
    --reach-tabs: 1;
  }
  
  @media (min-width: 640px){
    .sm\:mt-4{
      margin-top:1rem
    }
  }
  
  @media (min-width: 768px){
    .md\:block{
      display:block
    }
  
    .md\:flex{
      display:flex
    }
  
    .md\:hidden{
      display:none
    }
  
    .md\:mx-auto{
      margin-left:auto;
      margin-right:auto
    }
  
    .md\:mt-0{
      margin-top:0px
    }
  
    .md\:p-2lh{
      padding:48px
    }
  
    .md\:px-2lh{
      padding-left:48px;
      padding-right:48px
    }
  
    .md\:text-right{
      text-align:right
    }
  
    .md\:w-1\/4{
      width:25%
    }
  
    .md\:w-2\/5{
      width:40%
    }
  
    .md\:container{
      width:100%
    }
  
    @media (min-width: 640px){
      .md\:container{
        max-width:640px
      }
    }
  
    @media (min-width: 768px){
      .md\:container{
        max-width:768px
      }
    }
  
    @media (min-width: 1024px){
      .md\:container{
        max-width:1024px
      }
    }
  
    @media (min-width: 1280px){
      .md\:container{
        max-width:1280px
      }
    }
  
    @media (min-width: 1536px){
      .md\:container{
        max-width:1536px
      }
    }
  }
  
  @media (min-width: 1024px){
    .lg\:grid-cols-1{
      grid-template-columns:repeat(1, minmax(0, 1fr))
    }
  
    .lg\:grid-cols-2{
      grid-template-columns:repeat(2, minmax(0, 1fr))
    }
  }
  
  @media (min-width: 1280px){
    .xl\:grid-cols-2{
      grid-template-columns:repeat(2, minmax(0, 1fr))
    }
  
    .xl\:grid-cols-3{
      grid-template-columns:repeat(3, minmax(0, 1fr))
    }
  }
  
  @media (min-width: 1536px){
  }
  