<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}" defer ></script>
</head>
<body>
    <nav class="navbar"> 
        <div class="navbar__logo">
            <i class="fab fa-reddit"></i>
            <a href="">Project</a>
        </div>
        <ul class="navbar__menu">
            <li><a href="/index">Home</a></li>
            <li><a href="/model">Model</a></li>
            <li><a href="https://www.github.com/LeeTaegeon">Help</a></li>
        </ul>
        <ul class="navbar__icons">
            <li><i class="fa fa-fw fa-envelope"></i></li>
            <li><i class="fab fa-github"></i></li>
        </ul>

        <a href="#" class="navbar__toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
    <p data-ke-size="size16">&nbsp;</p>
    <p data-ke-size="size16">&nbsp;</p>
    <p data-ke-size="size16">&nbsp;</p>
    <p data-ke-size="size16">&nbsp;</p>
    <p data-ke-size="size16">&nbsp;</p>
    <p data-ke-size="size16">&nbsp;</p>
    <p data-ke-size="size16">&nbsp;</p>
    <p data-ke-size="size16">&nbsp;</p>
    <div align="center">
    <figure contenteditable="false" data-ke-type="emoticon" data-ke-align="alignCenter" data-emoticon-type="friends1" data-emoticon-name="002" data-emoticon-isanimation="false" data-emoticon-src="https://t1.daumcdn.net/keditor/emoticon/friends1/large/002.gif"><img src="https://t1.daumcdn.net/keditor/emoticon/friends1/large/002.gif" width="150" /></figure>
    </div>
    <p data-ke-size="size16">&nbsp;</p>
    <p data-ke-size="size16">&nbsp;</p>
    <h2 style="text-align: center;" data-ke-size="size44"><span style="color: #0593d3;"><b>Code States</b></span></h2>
    <p data-ke-size="size16">&nbsp;</p>
    <h2 style="text-align: center;" data-ke-size="size44"><span style="color: #0593d3;"><b>Project 6-2</b></span></h2>
    <p data-ke-size="size16">&nbsp;</p>
    <h2 style="text-align: center;" data-ke-size="size44"><span style="color: #0593d3;"><b>다양한 헤어스타일의 변화 서비스</b></span></h2>
</body>
</html>


