<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
	<div align="center">
    <form method="post" action="/login_confirm">
    <p data-ke-size="size16">&nbsp;</p>
    <p data-ke-size="size16">&nbsp;</p>
    <p data-ke-size="size16">&nbsp;</p>
    <p data-ke-size="size16">&nbsp;</p>
    <h3 style="text-align: center;" data-ke-size="size20"><span style="background-color: #fdfdfd; color: #000000;">Please log in to run the service.</span></h3>
    <p data-ke-size="size16">&nbsp;</p>
        I D : <input type="text" name="id_"><br>
        <p data-ke-size="size16">&nbsp;</p>
        P W : <input type="password" name="pw_"><br>
        <p data-ke-size="size16">&nbsp;</p>
        <input type="submit" value="확인">
    </form>
    </div>
</body>
</html>